<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="robots" content="noindex,nofollow">

  <title>{{ page.title | default: site.title  }}</title>

  <!-- facebook open graph tags -->
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}"/>
  <meta property="og:title" content="{{ page.title | default: site.title  }}"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>

  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="{{ site.url }}"/>
  <meta name="twitter:url" content="{{ page.url | absolute_url }}"/>
  <meta name="twitter:title" content="{{ page.title | default: site.title  }}"/>

  <!-- Description metadata is something else... -->
  {% if page.excerpt and page.excerpt != page.content %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | normalize_whitespace | escape }}"/>
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | normalize_whitespace | escape }}"/>
  {% else %}
  <meta property="og:description" content="{{ site.description | strip_html | normalize_whitespace | escape }}"/>
  <meta name="twitter:description" content="{{ site.description | strip_html | normalize_whitespace | escape }}"/>
  {% endif %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <!-- Site specific CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" type='text/css'>
</head>
