
footer {
  padding: 25px 0;
  text-align: center;
  
  @media print {
    display: none;
  }
}

.card.contributors {
  .media {
    img {
      max-width: 64px;
      max-height: 64px;
    }
  }
  @media (min-width: 768px) {
    &.float-left {
      margin-right: 2em;
    }
    &.float-right {
      margin-left: 2em;
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
    }
  }
  @media print {
    display: none;
  }
}
